<form class="bookmarkform" id="bookmarkform-{{uniqid}}">
	<h4>{{#str}}addsmartbookmark, block_video{{/str}}</h4>
	<div class="form-inline form-group">
		<input type="hidden" name="bookmarkposition" class="form-control" value="00:00" id="bookmark-position-{{uniqid}}">
		<label>{{#str}}bookmarkname, block_video{{/str}}:</label>
		<input name="bookmarkname" class="form-control" id="bookmarkname-{{uniqid}}">
		<input name="videotype" type="hidden" value="{{videotype}}">
                <input name="id" type="hidden" value="{{video_id}}">
		<input type="submit" class="btn btn-primary" id="bookmarksave-{{uniqid}}" value="{{submit}}" >
		{{#isteacher}}
 			<br><input type="checkbox" id="teacherbookmark" name="teacherbookmark" value = "0">
			<label for="teacherbookmark">{{#str}}addteacherbookmark, block_video{{/str}}</label>
		{{/isteacher}}
		

	</div>
</form>
<div id="videobookmarklist">
{{#bookmarks}}
	{{> block_video/bookmark}}
{{/bookmarks}}
</div>
{{#js}}
require(['jquery', 'core/templates'], function($, templates) {
	var video_vimeoid;
	var video = $('#myPlayer_html5_api')[0];
    if (video == 'undefined' || !video) {
		var video = $('#video-{{video_id}}')[0];
	}
    if (video == 'undefined' || !video) {
	video_vimeoid = $("[videoid={{video_id}}]").attr("id");
        if (typeof video_vimeoid !== "undefined") {
            var video = new Vimeo.Player(video_vimeoid);
        } 
	}

	$('#bookmarkflagtoggle-{{uniqid}}').click(function(e) {
		e.preventDefault();
		var currentval = $(this).next().val();
		$(this).toggleClass('flagged').next().val(1 - currentval);
	});
	
	$('#bookmarksave-{{uniqid}}').click(function(e) {
		e.preventDefault();
		
		if ($('#bookmarkname-{{uniqid}}').val() === '') {
			return;
		}
		
		var theform = $('#bookmarkform-{{uniqid}}');
        //var currenttime = video.currentTime;
		//theform[0][0].value = currenttime;

		if (typeof video_vimeoid !== "undefined" || video_vimeoid) {
            video.getCurrentTime().then(function(data) {
            var currenttime = data;
			theform[0][0].value = currenttime;
            $('#bookmark-position-{{uniqid}}').val(currenttime);
            $('#bookmark-position-visible-{{uniqid}}').val(s_to_hms(currenttime));
                });
        } else {
            var currenttime = video.currentTime;
			theform[0][0].value = currenttime;
            $('#bookmark-position-{{uniqid}}').val(currenttime);
            $('#bookmark-position-visible-{{uniqid}}').val(s_to_hms(currenttime));
        }


		var checkBox = $('#teacherbookmark');
		if (checkBox.is(':checked')) {
			  $("#teacherbookmark").val("1");
		}
		console.log(theform);
		//alert('hii');
		$.post(M.cfg.wwwroot + '/blocks/video/ajax/bookmark_ajax_save.php', theform.serialize(), function(data) {
			var context = data;
			theform[0].reset();
			context.isteacher = $("#teacherbookmark").val("1") ? true : false;
			context.bookmarkpositionvisible = s_to_hms(context.videoposition);
            console.log(context);
			templates
				.render('block_video/bookmark', context)
				.then(function(html, js) {
					templates.appendNodeContents('#videobookmarklist', html, js);
				}).fail(function(ex) {
					console.log(ex);
				});
		});
	});
	
	$('#videobookmarklist').on('click', 'a', function(e) {
		//video.currentTime = $(this).data('position');
		 if (typeof video_vimeoid !== "undefined" || video_vimeoid) {
            	video.setCurrentTime($(this).data('position'));
            } else {
                video.currentTime = $(this).data('position');
            }
	});
	
	$('#videobookmarklist').on('click', '.deletebookmark', function(e) {
		if (!confirm('{{#str}}deletebookmark, block_video{{/str}}')) {
			return;
		}
		var elem = $(this);
		$.post(M.cfg.wwwroot + '/blocks/video/ajax/bookmark_ajax_save.php', {delete: elem.data('id')}, function(data) {
			console.log($(this), $(this).closest('div'));
			elem.closest('div').hide(400, function () {elem.remove()});
		});
	});
	
	function s_to_hms(totalSeconds) {
		hours = Math.floor(totalSeconds / 3600);
		if (hours < 10) {
			hours = '0' + hours;
		}
		totalSeconds %= 3600;
		minutes = Math.floor(totalSeconds / 60);
		if (minutes < 10) {
			minutes = '0' + minutes;
		}
		seconds = ~~(totalSeconds % 60);
		if (seconds < 10) {
			seconds = '0' + seconds;
		}
		return hours + ':' + minutes + ':' + seconds
	}
});
{{/js}}
