<html>
<head>
</head>
<body>
  <div videoid="{{video_id}}" data-vimeo-id="{{video_vimeoid}}" data-vimeo-width="{{width}}" id="{{video_vimeoid}}"></div>

  <script src="https://player.vimeo.com/api/player.js"></script>
  <script>
    var video01Player = new Vimeo.Player('{{video_vimeoid}}');
    video01Player.on('play', function() {
      console.log('Played the first video');
    });
  </script>

</body>
</html>